header{
    height: 200px;
    background-color: blue;
}
nav{
    height: 180px;
    background-color: grey;
}
section{
    height: 200px;
    background-color: grey;
}
.section1{
    background-color: green;
}
.section2{
    background-color: red;
}
div{
    height: 180px;
}
.rectangulo{
    background-color: #3c78d8ff;
    border: solid 1px grey;
}
.cuadrado{
    background-color: khaki;
    border: solid 1px black;
}
footer{
    height: 200px;
    background-color: orange;
}